<div class="container_12  box_round box_shadow box_textshadow">
  <h1 >植物园论坛</h1>

  <div class="forum_top_line">

    <% @forums.each do |forum| %>
    <div class="grid_6 end_line">
 
        <div class="forum_title">
          <h1 ><%= link_to forum.name ,forum_path(forum)%>
            <em> (今日: <strong><%= forum.topics.today_created.size %></strong>)</em>
          </h1>
          <p><%= forum.description %></p>
          <p> 主题数:<%=  forum.topics.size%>/回复数：<%=  forum.posts.size%></p>
           <%  if topic = forum.get_latest_posted_topic %>
          <p>最新回复:<%=  link_to "#{topic.title[0,6]}..." , forum_topic_path(forum,topic) %>
          —by 
          <%=  topic.posts.last.user.name %> <em class="last_show"><%= topic.posts.last.created_at.strftime('%Y-%m-%d %H:%M:%S') %></em>
        </p>
          <% else %>
          <p> &ensp;</p>
           <% end %>
        </div>
        
    </div>

    <% end %>
    </div>
  </div



