
<div>
  <h1><%= link_to "植物园论坛",forums_path %> > <%= @forum.name  %></h1>
</div>
<p id="notice"><%= notice %></p>


<p>
  <b>Description:</b>
  <%= @forum.description %>
</p>
<table>
  <tr>
    <td class="grid_3">主题topic</td>
    <td class="grid_3">作者</td>
    <td class="grid_3">回复/查看</td>
    <td class="grid_3">最后发表</td>
  </tr>
<% @forum.topics.each do |topic| %>
  <tr>
    <td class="grid_3"><%= link_to topic.title, { :controller => "topics", :action => "show", :forum_id => @forum.id ,:id=>topic.id} %></td>
    <td class="grid_3"><%= topic.posts.first.user.email %></td>
    <td class="grid_3"><%= topic.posts.size %> /<%= topic.views_count ? topic.views_count: 0 %> </td>
    <td class="grid_3"><%= topic.posts.last.user.email %></td>
  </tr>
<% end %>
</table>
<%= link_to "newTopics" , {:action=>"new", :controller=>"topics", :forum_id => @forum.id} %>
<%#= link_to 'Edit', edit_forum_path(@forum) %> 
<%#= link_to 'Back', forums_path %>
