
<h1><%= link_to "植物欣赏",appreciations_path %> > <%= @appreciation.name %></h1>

<div class="container_12 appreciation_show  box_round box_shadow  box_textshadow">
<p>
<div class="grid_5">
<%= image_tag @appreciation.avatar.url(:medium) %>
</div>
<%#*<div  class="grid_7">%>

  <em class="grid_7">

  <p>
  <b>名称:</b>
  <%= @appreciation.name %>
</p>    
<p>
  <b>种类:</b>
  <%= @appreciation.category.name %>
  </p>

<p>
  <b>简介:</b>
  <%= @appreciation.title %>
</p>
  </em>
  <%#*</div>%>
</p>

<p>
  <pre class="box_round">
  <%= @appreciation.description %>
  </pre>
</p>

</div>