<p>
  <%= link_to "forums",forums_path %> >> <%= link_to @topic.forum.name ,forum_path(@topic.forum)%> >>  <%= @topic.title %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>State:</b>
  <%= @topic.state %>
</p>

<p>
  <b>Priority:</b>
  <%= @topic.priority %>
</p>

<p>
  <b>Views count:</b>
  <%= @topic.views_count %>
</p>



<table>
<% @topic.posts.each do |post| %>
<tr>
  <td> <%=post.body %> by <%= post.user.email %> [<%= post.created_at %>]</td>
</tr>
<% end %>
</table>

<h2>Add a post</h2>
<%= render "posts/form" %>

<%#= link_to 'Edit', edit_topic_path(@topic) %> 
<%#= link_to 'Back', topics_path %>
