<script>
$(function(){
	$("a.update_quantity").click(function(){
		// console.log($(this));
		// console.log($(this).attr("name"));
		// console.log($("#"+$(this).attr("name")).find(".quantity").val());
		// return
		var obj = $("#"+$(this).attr("name"));
		var quantity = obj.find(".quantity").val();
		var price = obj.find(".price").text();
		var sub = obj.find(".sub").text();
		$.ajax({
			url: '/update_item_quantity/'+$(this).attr("name")+"/"+quantity,
			type: 'GET',
			dataType: 'html',
			timeout: 1000,
			error: function(){
				alert('Error loading XML document');
			},
			success: function(data){
				if(data == "OK"){
					$("p.notice").text("Successfully update quantity!");
					window.location.reload();
				}
			}
		});
	});
});
</script>

<div class="List_cart">
	<h2><strong>我挑选的商品</strong></h2>
	<div class="cart_table">
		<div id="productList">
			<table width="100%" cellspacing="0" cellpadding="0" id="CartTb" class="Table">
				<tbody><tr class="align_Center Thead">
					<td>名称</td>
					<td width="12%">数量</td>
					<td width="8%">价格</td>
					<td width="9%">总和</td>
					<td width="9%">操作</td>
				</tr>
				<% @cart_items.each do |ci| %>
				<%p ci%>
				<tr id="<%=ci.id%>" class="align_Center">
					<td class="align_Left">
						<div class="p-img">
							<%=link_to image_tag(ci.product.image.url(:thumb), :size => "100x75"), :controller => :products, :action=> 'show', :id => ci.product.id%>
						</div>
						<span><a href="<%=ci.product.image.url%>"><%= ci.product.name %></a></span>
					</td>
					<td><input class="quantity" value="<%=ci.quantity%>"/></td>
					<td>
						<span class="price"><%= ci.price %></span>
					</td>
					<td class="sub"><%= ci.subtotal_for%>
					</td>
					<td><%=link_to '更新', '#', {:class => 'update_quantity', :name=> ci.id}%>&nbsp;|&nbsp;<%=link_to '删除', "/remove_item/#{ci.id}", :confirm =>' 确认删除?'%></td>
				</tr>
				<% end %>
				<tr>
					<td style="height:30px" colspan="7" class="align_Right Tfoot">
						<span style="font-size:14px;float:right"><b>商品总金额：<span id="cartBottom_price" class="price"><%= @order.subtotal unless @order.blank?%></span>元</b></span></td>
				</tr>
			</tbody></table>
		</div>
		<div id="submit_info">
		</div>
		<br/>
		<div style="text-align:right" id="submit_btn">
			<%= link_to '继续购物', '/product', :id => "continueBuyBtn"%>
			<%= link_to '结算', "/save_order/#{@cart_items[0].order_id}", :id => "gotoOrderInfo" unless @cart_items.blank? %>
		</div>
		<div id="submit_error" style="padding-right:9px;text-align:right;border:#fff 1px solid;"></div>	
		<br>
		<div id="ybPanel"></div>
	</div>
	<div class="round"><div class="lround"></div><div class="rround"></div></div>
</div>